---
import HeaderButton from "../Astro/HeaderButton.astro";

const menu = [
  {
    id: "btnHome",
    text: "Inicio",
    href: "/#top",
    icon: "/assets/icons/home.svg",
    alt: "Icono de inicio",
  },
  {
    id: "btnServices",
    text: "Servicios",
    href: "/#services",
    icon: "/assets/icons/service.svg",
    alt: "Icono de Servicios",
  },
];
---

<header
  class="flex flex-row justify-between w-full items-center sticky top-0 py-2 px-10 z-10"
>
  <img src="/assets/img/logo.svg" alt="Logo de businessapp" />

  <nav class="flex gap-7">
    {
      menu.map((x) => (
        <HeaderButton href={x.href} id={x.id}>
          <img src={x.icon} alt={x.alt} slot="before" />
          {x.text}
        </HeaderButton>
      ))
    }
  </nav>
</header>

<style>
  header {
    animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 400px;
  }

  @keyframes enhance-header {
    to {
      background-color: var(--color-secondary);
      backdrop-filter: blur(5px);
      border-bottom: 2px solid white;
    }
  }
</style>

<script is:inline define:vars={{ menu }}>
  const BORDER_CLASS = "border-b-accent";

  const setSelectedClass = (id) => {
    const anchor = document.getElementById(id);
    anchor.classList.add(BORDER_CLASS);
  };

  const removeSelectedClass = (id) => {
    menu.forEach((x) =>
      document.getElementById(x.id).classList.remove(BORDER_CLASS),
    );

    setSelectedClass(id);
  };

  const addClickListener = () => {
    menu.forEach(({ id }) => {
      document.getElementById(id).addEventListener("click", () => {
        removeSelectedClass(id);
      });
    });
  };

  addClickListener();
</script>
