---
import "@fontsource-variable/podkova";
import "../../styles/variables.css";
import config from "../../../astro.config.mjs";
import HeaderServices from "./HeaderServices.astro";
import Service from "../Preact/Service";

interface Menu {
  id: string;
  name: string;
  text: string;
  icon: string;
  images: {
    name: string;
    alt: string;
  }[];
}

let menu: Menu[] = [];

const result = await fetch(
  `http://localhost:${config.server.port}/assets/json/services.json`,
);
menu = await result.json();
---

<article class="h-screen px-5 sm:px-20 sm:h-article" id="services">
  <HeaderServices menu={menu} />
  <div class="sm:hidden">
    <Service menu={menu} />
  </div>
  <div class="hidden">
    {
    menu.map((x) => {
      return (
        <section
          class="justify-center items-center gap-10 mt-10 hidden"
          id=`service${x.id}`
        >
          {x.images.map((y) => {
            return (
              <img
                class="max-w-full max-h-full h-auto object-fit-cover hidden sm:block"
                src={y.name}
                alt={y.alt}
              />
            );
          })}

          <div class="flex justify-center flex-col">
            <header>
              <h1 class="text-4xl font-bold">{x.name}</h1>
            </header>
            <p class="text-3xl mt-5">{x.text}</p>
          </div>
        </section>
      );
    })
  }
  </div>
</article>

<style>
  h1,
  p {
    font-family: "Podkova Variable", serif;
  }

  .h-article {
    height: calc(
      100vh - var(--nav-desktop-height) - var(--header-desktop-height)
    ) !important;
  }

  .h.section {
    height: calc(
      100vh - var(--nav-desktop-height) - var(--header-desktop-height) - 6rem
    ) !important;
  }
</style>
